{{define "main"}}
<section class="section">
  <div class="container">
    This is format Template.
  </div>
</section>
{{end}}


{{define "scripts"}}
<script>

</script>
{{end}}


{{define "styles"}}
<style scoped>

</style>
{{end}}
